.grid {
    -fx-padding: 50;
    -fx-border-color: black;
    -fx-border-insets: 5;
    -fx-border-width: 2;
}

.label {
    -fx-font-size: 14;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-size: 12;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
}

.button {
    -fx-background-color: #000;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-padding: 5 22;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.button:hover {
    -fx-background-color: #bbbbbb;
}
.list-cell:even {
    -fx-border-color: #000;
}
.list-cell:odd {
    -fx-background-color: #ded9d7;
}

